<!DOCTYPE html>
<html ng-app="pic">
<head>
    <meta charset="UTF-8">
    <title>PIC Simulator Anzeige</title>
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="maincontroller.js"></script>

</head>

<body>
    <div ng-controller="Befehlsspeichercontroller">
        <h1>
            Aufgabe 1 Texteinlesen
        </h1>
        <br>
        <input type="file" on-read-file="showContent($fileContent)" />
        <div ng-if="content">
            <h2>File content is:</h2>
               <pre ng-repeat="line in content">{{line}}</pre>
        </div>

        <!--<div ng-if="operations"> -->
        <!--    <pre ng-repeat="operation in operations">{{operation.zeile}} {{operation.befehl}}</pre> -->
        <!-- </div>-->



    <div ng-if="content" ng-controller="ramcontroller">

        <h1> RAM anzeige</h1>

            <h2>Hier:</h2>

        <table ng-if="ram" border="1">

            <tr ng-repeat="row in ram">
                <td ng-repeat="zelle in row track by $index">{{zelle}}</td>
            </tr>

        </table>

    </div>
        </div>
</body>
</html>