body {
    font-family: sans-serif;
}
.codeanzeige{
    position: static;
    float: left;
    width: 50%;
    height: 500px;
    overflow: scroll;
}
.ram{
    float: left;
    position: relative;
    width: 50%;
    height: 500px;
    overflow: scroll;
}
#Speicherbereich {
    text-align: center;
    vertical-align: middle;
}
.highlighted{
    background-color: #1b6d85;
}
.cpu{
    position:relative;
    float: left;
}
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.ueberstrich {
    text-decoration: overline;
}
.statuswreg{
    position: relative;
    float: left;
    width: 50%;
}
.rahmenporttakt{
    width: 50%;
    float: left;
}
