body {
    font-family: sans-serif;
    background-color: Moccasin ;
}
table{
    font-size: small;
}

.codeanzeige{
    float: left;
    width: 50%;
    height: 550px;
    overflow: scroll;
    position: static;
}
.ram{
    float: left;
    position: relative;
    width: 50%;
}

.buttons{
    float: left;
}
.cpu{
    position:relative;
    float: left;
}
